@import "../../_variables";





// BODY
//============================================
$body-bg                    : #ecf0f5;
$body-color                 : #8f9ea6;
$boxed-bg                   : #626469;
$text-muted                 : lighten($body-color, 20%);




// GENERAL COMPONENTS
//============================================
$state-active-bg            : #8b5b9f;
$state-active-color         : #fff;

$selection-bg               : $state-active-bg;
$selection-color            : $state-active-color;




// CLEAN ZONE (LOGIN, REGISTER, AND ERROR PAGES CONTAINER)
//============================================
$cls-bg                     : $body-bg;
$cls-color                  : darken($body-color, 7%);




// NAVIGATION
//============================================
$mainnav-bg                 : #fff;
$mainnav-color              : #868f99;
$mainnav-hover-color        : $state-active-bg;
$mainnav-active-bg          : transparent;
$mainnav-active-color       : #fff;
$mainnav-active-state       : $state-active-bg;
$mainnav-profile-bg         : $mainnav-bg;
$mainnav-profile-color      : $body-main-color;




// NAVBAR & LOGO
//============================================
$navbar-bg                  : #fff;
$navbar-color               : $body-color;
$brand-bg                   : $state-active-bg;
$brand-bg-overlay           : $state-active-bg;
$brand-color                : $state-active-color;
$brand-color-overlay        : $navbar-color;




// ASIDE
//============================================
$aside-dark-bg              : #344146;
$aside-dark-color           : #fff;
$aside-bright-bg            : #fff;
$aside-bright-color         : $body-color;




// TIMELINE
//============================================
$timeline-bg                : $body-bg;
$timeline-color             : $body-color;
$timeline-border-color      : lighten($body-color, 25%);




// FOOTER
//============================================
$footer-bg                  : lighten($body-bg, 3%);
$footer-color               : $body-color;




//============================================
@import "../_themes";
